@model PlattCodingChallenge.Models.AllPlanetsViewModel

<!DOCTYPE html>

<html>
    <head>
        <title>All Planets - Largest Diameter to Smallest Diameter</title>
    </head>
    <body>
        <div>
            <h3>All Planets - Largest Diameter to Smallest Diameter</h3>
            <h5>Average Diameter: @Model.AverageDiameter.ToString("N2")</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Planet Name</th>
                        <th scope="col">Population</th>
                        <th scope="col">Diameter</th>
                        <th scope="col">Terrain</th>
                        <th scope="col">Length Of Year</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var planet in Model.Planets)
                    {                      
                        <tr>
                            <td data-id="@planet.Id"><a href="/Home/GetPlanetById?planetid=@planet.Id">@planet.Name</a></td>
                            <td>@planet.FormattedPopulation</td>
                            <td>@planet.Diameter</td>
                            <td>@planet.Terrain</td>
                            <td>@planet.LengthOfYear</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>