@model PlattCodingChallenge.Models.VehicleSummaryViewModel

<!DOCTYPE html>

<html>
    <head>
        <title>Vehicle Summary</title>
    </head>
    <body>
        <div>
            <h3>Vehicle Summary</h3>
            <ul>
                <li>Total Number of Vehicles with Known Cost: @Model.VehicleCount</li>
                <li>Total Number of Manufacturers: @Model.ManufacturerCount</li>
            </ul>

            <table class="table table-nest">
                <caption>Star Wars Vehicles</caption>
                <thead>
                    <tr>
                        <th scope="col">Manufacturer Name</th>
                        <th scope="col">Vehicle Count</th>
                        <th scope="col">Average Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model.Details)
                    {
                        <tr>
                            <th scope="row">@d.ManufacturerName</th>
                            <td>@d.VehicleCount</td>
                            <td>@d.AverageCost.ToString("N2")</td>
                        </tr>
                        <tr class="nested hide">
                            <td colspan="3">
                                <table>
                                    <caption>Vehicles by @d.ManufacturerName</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Model</th>
                                            <th scope="col">Passengers</th>
                                            <th scope="col">Max Speed</th>
                                            <th scope="col">Class</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var v in d.Vehicles)
                                        {
                                        <tr>
                                            <th scope="row">@v.Name</th>
                                            <td>@v.Model</td>
                                            <td>@v.Passengers</td>
                                            <td>@v.MaxSpeed</td>
                                            <td>@v.VehicleClass</td>
                                        </tr>
                                        }
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>